pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
/node_modules/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures

.nrepl-port

/public/js/cljs
/public/js/clojure
/public/js/goog
/public/js/om
/public/js/om_tools
/public/js/plumbing
/public/js/schema
/public/js/teatrees
/public/js/teatrees.js
/public/js/teatrees_client